// SYNTAX TEST "Packages/KDL/KDL2.sublime-syntax"

// 7. Test various
"Glued nodes" "1st symbol illegal, others muted, pop early on child/term/line end/comment..."
"n""inv"
// ^                                    invalid.illegal.position.kdl
//  ^^^^                                invalid.illegal.muted.position.kdl
//      ^                              -invalid.illegal.position.kdl invalid.illegal.muted.position.kdl
"n""inv";
// ^                                    invalid.illegal.position.kdl
//  ^^^^                                invalid.illegal.muted.position.kdl
//      ^                              -invalid.illegal.position.kdl invalid.illegal.muted.position.kdl
"n""inv"{}
// ^                                    invalid.illegal.position.kdl
//  ^^^^                                invalid.illegal.muted.position.kdl
//      ^                              -invalid.illegal.position.kdl invalid.illegal.muted.position.kdl
"n""inv"//
// ^                                    invalid.illegal.position.kdl
//  ^^^^                                invalid.illegal.muted.position.kdl
//      ^                              -invalid.illegal.position.kdl invalid.illegal.muted.position.kdl
"n""inv"\/*
// ^                                    invalid.illegal.position.kdl
//  ^^^^                                invalid.illegal.muted.position.kdl
//      ^                              -invalid.illegal.position.kdl invalid.illegal.muted.position.kdl
*/
a=1
"Same for" /-"slashdashed elements"
/-"n""inv"
//   ^                                  invalid.illegal.position.kdl
//    ^^^^                              invalid.illegal.muted.position.kdl
//        ^                            -invalid.illegal.position.kdl invalid.illegal.muted.position.kdl
/-"n""inv";
//   ^                                  invalid.illegal.position.kdl
//    ^^^^                              invalid.illegal.muted.position.kdl
//        ^                            -invalid.illegal.position.kdl invalid.illegal.muted.position.kdl
/-"n""inv"{}
//   ^                                  invalid.illegal.position.kdl
//    ^^^^                              invalid.illegal.muted.position.kdl
//        ^                            -invalid.illegal.position.kdl invalid.illegal.muted.position.kdl
/-"n""inv"//
//   ^                                  invalid.illegal.position.kdl
//    ^^^^                              invalid.illegal.muted.position.kdl
//        ^                            -invalid.illegal.position.kdl invalid.illegal.muted.position.kdl
/-"n""inv"\/*
//   ^                                  invalid.illegal.position.kdl
//    ^^^^                              invalid.illegal.muted.position.kdl
//        ^                            -invalid.illegal.position.kdl invalid.illegal.muted.position.kdl
*/
a=1


// Match spaces as part of the key=value, but signal an error
n k=1 k✗␠=  1 #false;
//        ^                                       invalid.illegal.position.kdl
//         ^                                      invalid.illegal.muted.position
n k=1 k✗␠  = 1 #false;
//       ^                                        invalid.illegal.position.kdl
//        ^                                       invalid.illegal.muted.position
//          ^                                     invalid.illegal.position.kdl

n k=1 "k"=1 "v"
n k=1 "v"
n\
/*illegal since WS only allows directly after \\ without any newlines*/
b=1
