// SYNTAX TEST "Packages/KDL/KDL2.sublime-syntax"

// 2 Node Element: 1 Node name
+.1n;-.1n;.1n;+1n;-1n i="Confusion with numbers"
//<-                                                invalid.illegal.position.kdl
 //<-                                               invalid.illegal.position.kdl
//^                                                 invalid.illegal.muted.position.kdl
//   ^^                                             invalid.illegal.position.kdl
//     ^                                            invalid.illegal.muted.position.kdl
//        ^                                         invalid.illegal.position.kdl
//         ^                                        invalid.illegal.muted.position.kdl
//            ^                                     invalid.illegal.position.kdl
//             ^                                    invalid.illegal.muted.position.kdl
//                ^                                 invalid.illegal.position.kdl
//                 ^                                invalid.illegal.muted.position.kdl
n +.1n=0 -.1n=0 .1n=0 +1n=0 -1n=0 i="Confusion with numbers"
//^^                                                invalid.illegal.position.kdl
//  ^                                               invalid.illegal.muted.position.kdl
//       ^^                                         invalid.illegal.position.kdl
//         ^                                        invalid.illegal.muted.position.kdl
//              ^                                   invalid.illegal.position.kdl
//               ^                                  invalid.illegal.muted.position.kdl
//                    ^                             invalid.illegal.position.kdl
//                     ^                            invalid.illegal.muted.position.kdl
//                          ^                       invalid.illegal.position.kdl
//                           ^                      invalid.illegal.muted.position.kdl
n "Illegal due to ambiguity vs a number"\
  11a=1 +1b=1 +b=1 +=1 +1=1
//^^                                              invalid.illegal.position.kdl
//      ^                                         invalid.illegal.position.kdl
//       ^                                        invalid.illegal.muted.position.kdl
//                     ^                          invalid.illegal.position.kdl
//                      ^                         invalid.illegal.muted.position.kdl
//  ^                                             entity.other.attribute-name.kdl
//        ^                                       entity.other.attribute-name.kdl
//            ^^                                  entity.other.attribute-name.kdl
//                 ^                              entity.other.attribute-name.kdl
//                        ^                       entity.other.attribute-name.kdl
//                       ^                        meta.property.kdl
//                        ^                       meta.property.name.kdl meta.mapping.key.kdl
// (?<!=) prevents =1 from matching after the +1 fails ()

n "Trying to ban some consecutive strings"
"n""b"
//^               punctuation.definition.string.end.kdl
// ^              invalid.illegal.position.kdl
//  ^^            invalid.illegal.muted.position.kdl
"n"#"b"
//^               punctuation.definition.string.end.kdl
// ^^             invalid.illegal.position.kdl
//   ^^           invalid.illegal.muted.position.kdl
"n"r"b"
//^               punctuation.definition.string.end.kdl
// ^              invalid.illegal.position.kdl
/*  ^^^           invalid.illegal.muted.position.kdl
new helpers point to r"a" as an error in r not a generic letter*/

 ##"n"###"b"#
//     ^          punctuation.definition.string.end.kdl
//      ^^        invalid.illegal.position.kdl
//        ^^^     invalid.illegal.muted.position.kdl
#"multiline
nn"##"b""b"
//^               punctuation.definition.string.end.kdl
//  ^^            invalid.illegal.position.kdl
//    ^^          invalid.illegal.muted.position.kdl
//       ^^       invalid.illegal.muted.position.kdl

all_invali}#){}[]/#;=
//        ^^^^^^^^^^^                             invalid.illegal.position.kdl
