// SYNTAX TEST "Packages/KDL/KDL2.sublime-syntax"

// 2 Node Element: 5 End
n /-;n "Terminators can't be slashdashed"
//  ^                        invalid.illegal.position.kdl
//   ^                      -invalid
n {n} a
//    ^ invalid.illegal.position.kdl
! "only the last node can end without a terminator"
