// SYNTAX TEST "Packages/KDL/KDL2.sublime-syntax"

// /-Slashdash
n key=(ty)/-val other-arg !="slashdash_after_prop_val_type_fail"
//        ^                             invalid.illegal.position.kdl
n key = /-val etc !="slashdash_before_prop_value_fail"
//      ^^                              invalid.illegal.position.kdl
n foo /-; m !="slashdash_before_semicolon_fail"
//      ^                               invalid.illegal.position.kdl
n (/-bad)nope !="slashdash_inside_arg_type_fail"
// ^                                    invalid.illegal.kdl
n (type) /- arg1 arg2 !="slashdash_after_type_fail"
//       ^                              invalid.illegal.position.kdl
n (type)/-arg1 arg2 !="slashdash_after_arg_type_fail"
//      ^                               invalid.illegal.position.kdl
n key /- = value !="slashdash_after_prop_key_fail"
//       ^                              invalid.illegal.position.kdl
(ty)/-n !=slashdash_after_node_type_fail
//  ^                                   invalid.illegal.kdl
