// SYNTAX TEST "Packages/KDL/KDL2.sublime-syntax"

// 3 Data: Strings
a """
  " "" """
//^                                          string.quoted.double.block.kdl invalid.illegal.position.kdl
// ^^^^                                      string.quoted.double.block.kdl invalid.illegal.muted.position.kdl
n """
a  " """
//<-                                         string.quoted.double.block.kdl invalid.illegal.position.kdl
 //<-                                        string.quoted.double.block.kdl invalid.illegal.muted.position.kdl
//^^^                                        string.quoted.double.block.kdl invalid.illegal.muted.position.kdl

#"Multiline strings must have ␤ after the starting """ and before the ending """ "#
a """err_not_nl
//   ^                                          string.quoted.double.block.kdl invalid.illegal.position.kdl
//    ^^^^^^^^^                                 string.quoted.double.block.kdl invalid.illegal.muted.position.kdl
x
err_not_ws"""
//<-                                            string.quoted.double.block.kdl invalid.illegal.position.kdl
 //<-                                           string.quoted.double.block.kdl invalid.illegal.muted.position.kdl
//^^^^^^^^                                      string.quoted.double.block.kdl invalid.illegal.muted.position.kdl
a b="""err_not_nl
//     ^                                        string.quoted.double.block.kdl invalid.illegal.position.kdl
//      ^^^^^^^^^                               string.quoted.double.block.kdl invalid.illegal.muted.position.kdl
err_not_ws"""
//<-                                            string.quoted.double.block.kdl invalid.illegal.position.kdl
 //<-                                           string.quoted.double.block.kdl invalid.illegal.muted.position.kdl
//^^^^^^^^                                      string.quoted.double.block.kdl invalid.illegal.muted.position.kdl
a b="""err_not_nl
//     ^                                        string.quoted.double.block.kdl invalid.illegal.position.kdl
//      ^^^^^^^^^                               string.quoted.double.block.kdl invalid.illegal.muted.position.kdl
  \ \ err_not_ws"""
//<-                                           -invalid.illegal.position.kdl
 //<-                                          -invalid.illegal.muted.position.kdl
//    ^                                         invalid.illegal.position.kdl
//     ^^^^^^^^^                                invalid.illegal.muted.position.kdl

v1 r"no" "prefix in v2"
// ^                                              invalid.illegal.position.kdl
v1 r###""""Rawest"""string""""###
// ^                                              invalid.illegal.position.kdl
no "\u \u{} invalid escape"
//  ^                                              constant.character.escape.kdl punctuation.definition.escape.begin.kdl
//     ^                                           constant.character.escape.kdl punctuation.definition.escape.begin.kdl
//   ^                                             invalid.illegal.position.kdl
//      ^                                          invalid.illegal.position.kdl
no #"Surrogates even in \u escaped form"#\
high="\u{D800}\u{D911}\u{DABB}\u{DBFF}" low="\u{DC00}\u{DEAD}\u{DFFF}" uok="\u{0}\u{D799}"
//    ^                                                                constant.character.escape.kdl
//     ^^^^^^^                                                         constant.character.escape.utf8.hex.kdl
//       ^^^^                                                          constant.character.escape.utf8.hex.kdl invalid.illegal.muted.position.kdl
//               ^^^^                                                  constant.character.escape.utf8.hex.kdl invalid.illegal.muted.position.kdl
//                       ^^^^                                          constant.character.escape.utf8.hex.kdl invalid.illegal.muted.position.kdl
//                               ^^^^                                  constant.character.escape.utf8.hex.kdl invalid.illegal.muted.position.kdl
//                                              ^^^^                   constant.character.escape.utf8.hex.kdl invalid.illegal.muted.position.kdl
//                                                      ^^^^           constant.character.escape.utf8.hex.kdl invalid.illegal.muted.position.kdl
//                                                              ^^^^   constant.character.escape.utf8.hex.kdl invalid.illegal.muted.position.kdl
//                                                                           ^^^^         -invalid.illegal.muted.position.kdl
//                                                                                ^^^^^^^ -invalid.illegal.muted.position.kdl
a "\u{11FFFF} \u{110FFFF}" !="Unicode escaped above valid USV \u{10FFFF} char-esc-uni🛑"
//    ^^^^^^                            constant.character.escape.utf8.hex.kdl invalid.illegal.muted.position.kdl
//               ^^^^^^^                constant.character.escape.utf8.hex.kdl invalid.illegal.muted.position.kdl

b "Single-quoted strings can't have newlines outside of escaped whitespace"
n "
// ^                                     invalid.illegal.position.kdl
"
n "

//<-                                     invalid.illegal.muted.position.kdl
"
n "asdf              　
              　  //   ^                     invalid.illegal.position.kdl"

n "asdf\
aa
//^                                      invalid.illegal.position.kdl

//<-                                     invalid.illegal.muted.position.kdl
"
b "\sab\
                　cdefg\ssbz
//                         ^             invalid.illegal.position.kdl
"
