// SYNTAX TEST "Packages/KDL/KDL2.sublime-syntax"

// 2 Node Element: 4 Child
// Can have only 1 child block
n {n} {a}
//    ^   invalid.illegal.position.kdl
//      ^ invalid.illegal.position.kdl
//     ^  invalid.illegal.muted.position.kdl
n {n} a
//    ^ invalid.illegal.position.kdl
n {c} /-5 //invalid
//      ^   invalid.illegal.position.kdl

n a=1 /-{n} n /-{n}
//          ^        invalid.illegal.position.kdl
//            ^^^^^ -invalid.illegal.muted.position.kdl
n a=1 /-{n} n nnn /-{n}
//          ^            invalid.illegal.position.kdl
//            ^          invalid.illegal.position.kdl
//             ^^        invalid.illegal.muted.position.kdl
//                ^^^^^ -invalid.illegal.muted.position.kdl
/-n{n;n{n;n;} sdf}
//            ^   comment.block.slash-dash.kdl, meta.block.child.kdl, invalid.illegal.position.kdl
//             ^^ comment.block.slash-dash.kdl, meta.block.child.kdl, invalid.illegal.muted.position.kdl
// ^                                             invalid.illegal.position.kdl
//     ^                                         invalid.illegal.position.kdl
  n{n;n{n;n;} sdf}
//            ^   comment.block.slash-dash.kdl, meta.block.child.kdl, invalid.illegal.position.kdl
//             ^^ comment.block.slash-dash.kdl, meta.block.child.kdl, invalid.illegal.muted.position.kdl
// ^                                             invalid.illegal.position.kdl
//     ^                                         invalid.illegal.position.kdl

 n{bar !="brackets_in_bare_id_fail"}
//^                                              invalid.illegal.position.kdl
/-n{bar}
// ^                                             invalid.illegal.position.kdl
n !="children must follow arg/props, only allow children after"
n {bar}  abc
//       ^                                       invalid.illegal.position.kdl
//       ^                                      -invalid.illegal.muted.position.kdl
//        ^^                                     invalid.illegal.muted.position.kdl
//        ^^                                    -invalid.illegal.position.kdl
n {bar}; a
//       ^                                      -invalid.illegal
n {
// invalid due to blank, but for syntax highlighting don't warn not to flash on every opening {
