// SYNTAX TEST "Packages/KDL/KDL2.sublime-syntax"

// 3 Data: Keywords (Invalid)
＃non-keyword🛑
n #trued #trued #infd #-infd #nand !="bool-partial-ext🛑"
//^^^^^^                                                   meta.argument.value.kdl meta.mapping.value.kdl
//^^^^^                                                   -invalid.illegal.position.kdl
//     ^                                                   invalid.illegal.position.kdl
//       ^^^^^^                                            meta.argument.value.kdl meta.mapping.value.kdl
//       ^^^^^                                            -invalid.illegal.position.kdl
//            ^                                            invalid.illegal.position.kdl
//              ^^^^^                                      meta.argument.value.kdl meta.mapping.value.kdl
//              ^^^^                                      -invalid.illegal.position.kdl
//                  ^                                      invalid.illegal.position.kdl
//                    ^^^^^^                               meta.argument.value.kdl meta.mapping.value.kdl
//                    ^^^^^                               -invalid.illegal.position.kdl
//                         ^                               invalid.illegal.position.kdl
//                           ^^^^^                         meta.argument.value.kdl meta.mapping.value.kdl
//                           ^^^^                         -invalid.illegal.position.kdl
//                               ^                         invalid.illegal.position.kdl
n #dtrud #dnand !="direct"
//^                                                        keyword.other.kdl
//^                                                       -invalid.illegal.position.kdl
//^                                                       -invalid.illegal.muted.position.kdl
// ^                                                       invalid.illegal.position.kdl
//  ^^^^                                                   invalid.illegal.muted.position.kdl
//       ^                                                 keyword.other.kdl
//       ^                                                -invalid.illegal.position.kdl
//       ^                                                -invalid.illegal.muted.position.kdl
//        ^                                                invalid.illegal.position.kdl
//         ^^^^                                            invalid.illegal.muted.position.kdl

n #true=1;n #false=1;b #null=1;n #inf=1;n #-inf=1;b #nan=1;c !="keyword≠key"
//^^                                                            keyword.other.kdl invalid.illegal.position.kdl
//  ^^^                                                         keyword.other.kdl invalid.illegal.muted.position.kdl
//          ^^                                                  keyword.other.kdl invalid.illegal.position.kdl
//            ^^^^                                              keyword.other.kdl invalid.illegal.muted.position.kdl
//                     ^^                                       keyword.other.kdl invalid.illegal.position.kdl
//                       ^^^                                    keyword.other.kdl invalid.illegal.muted.position.kdl
//                               ^^                             keyword.other.kdl invalid.illegal.position.kdl
//                                 ^^                           keyword.other.kdl invalid.illegal.muted.position.kdl
//                                        ^^                    keyword.other.kdl invalid.illegal.position.kdl
//                                          ^^^                 keyword.other.kdl invalid.illegal.muted.position.kdl
//                                                  ^^          keyword.other.kdl invalid.illegal.position.kdl
//                                                    ^^        keyword.other.kdl invalid.illegal.muted.position.kdl
n #truee=1;n #falsee=1;b #nulle=1;b #infe=1;b #-infe=1;b #nane=1;c !="keyword≠key"
//^^^^^^                                                        meta.node.kdl meta.property.kdl
//^^                                                            invalid.illegal.position.kdl
//  ^^^^                                                        invalid.illegal.muted.position.kdl
//           ^^                                                 invalid.illegal.position.kdl
//             ^^^^^                                            invalid.illegal.muted.position.kdl
//                       ^^                                     invalid.illegal.position.kdl
//                         ^^^^                                 invalid.illegal.muted.position.kdl
//                                  ^^                          invalid.illegal.position.kdl
//                                    ^^^                       invalid.illegal.muted.position.kdl
//                                            ^^                invalid.illegal.position.kdl
//                                              ^^^^            invalid.illegal.muted.position.kdl
//                                                       ^^     invalid.illegal.position.kdl
//                                                         ^^^  invalid.illegal.muted.position.kdl
n true=1;n false=1;b null=1;b inf=1;b -inf=1;b nan=1;c !="ambiguious no#keyword≠key" i=null_prop_key_fail
//^                                                 constant.language.boolean.kdl invalid.illegal.position.kdl
//^                                                -invalid.illegal.muted.position.kdl
// ^^^                                              constant.language.boolean.kdl invalid.illegal.muted.position.kdl
// ^^^                                             -invalid.illegal.position.kdl
//         ^                                        constant.language.boolean.kdl invalid.illegal.position.kdl
//         ^                                       -invalid.illegal.muted.position.kdl
//          ^^^^                                    constant.language.boolean.kdl invalid.illegal.muted.position.kdl
//          ^^^^                                   -invalid.illegal.position.kdl
//                   ^                              constant.language.null.kdl invalid.illegal.position.kdl
//                   ^                             -invalid.illegal.muted.position.kdl
//                    ^^^                           constant.language.null.kdl invalid.illegal.muted.position.kdl
//                    ^^^                          -invalid.illegal.position.kdl
//                            ^                     constant.language.float.kdl invalid.illegal.position.kdl
//                            ^                    -invalid.illegal.muted.position.kdl
//                             ^^                   constant.language.float.kdl invalid.illegal.muted.position.kdl
//                             ^^                  -invalid.illegal.position.kdl
//                                    ^^            constant.language.float.kdl invalid.illegal.position.kdl
//                                    ^^           -invalid.illegal.muted.position.kdl
//                                      ^^          constant.language.float.kdl invalid.illegal.muted.position.kdl
//                                      ^^         -invalid.illegal.position.kdl
//                                             ^    constant.language.float.kdl invalid.illegal.position.kdl
//                                             ^   -invalid.illegal.muted.position.kdl
//                                              ^^  constant.language.float.kdl invalid.illegal.muted.position.kdl
//                                              ^^ -invalid.illegal.position.kdl
n true; n false; b null; b inf; b -inf; b nan; c !="ambiguious no#keyword≠arg"
//^^^                                            invalid.illegal.muted.position.kdl
//^^^                                           -invalid.illegal.position.kdl
//   ^                                           invalid.illegal.position.kdl
//   ^                                          -invalid.illegal.muted.position.kdl
//        ^^^^                                   invalid.illegal.muted.position.kdl
//        ^^^^                                  -invalid.illegal.position.kdl
//            ^                                  invalid.illegal.position.kdl
//            ^                                 -invalid.illegal.muted.position.kdl
//                 ^^^                           invalid.illegal.muted.position.kdl
//                 ^^^                          -invalid.illegal.position.kdl
//                    ^                          invalid.illegal.position.kdl
//                    ^                         -invalid.illegal.muted.position.kdl
//                         ^^                    invalid.illegal.muted.position.kdl
//                         ^^                   -invalid.illegal.position.kdl
//                           ^                   invalid.illegal.position.kdl
//                           ^                  -invalid.illegal.muted.position.kdl
//                                ^^^            invalid.illegal.muted.position.kdl
//                                ^^^           -invalid.illegal.position.kdl
//                                   ^           invalid.illegal.position.kdl
//                                   ^          -invalid.illegal.muted.position.kdl
//                                        ^^     invalid.illegal.muted.position.kdl
//                                        ^^    -invalid.illegal.position.kdl
//                                          ^    invalid.illegal.position.kdl
//                                          ^   -invalid.illegal.muted.position.kdl
  true;   false;   null;   inf;   -inf;   nan; c !="ambiguious no#keyword≠node_name"
//^^^                                            meta.node.kdl entity.name.tag.node.kdl
//   ^                                           invalid.illegal.muted.position.kdl
//   ^                                          -invalid.illegal.position.kdl
//        ^^^^                                   meta.node.kdl entity.name.tag.node.kdl
//            ^                                  invalid.illegal.muted.position.kdl
//            ^                                 -invalid.illegal.position.kdl
//                 ^^^                           meta.node.kdl entity.name.tag.node.kdl
//                    ^                          invalid.illegal.muted.position.kdl
//                    ^                         -invalid.illegal.position.kdl
//                         ^^                    meta.node.kdl entity.name.tag.node.kdl
//                           ^                   invalid.illegal.muted.position.kdl
//                           ^                  -invalid.illegal.position.kdl
//                                ^^^            meta.node.kdl entity.name.tag.node.kdl
//                                   ^           invalid.illegal.muted.position.kdl
//                                   ^          -invalid.illegal.position.kdl
//                                        ^^     meta.node.kdl entity.name.tag.node.kdl
//                                          ^    invalid.illegal.muted.position.kdl
//                                          ^   -invalid.illegal.position.kdl
n {true;   false;   null;   inf;   -inf;   nan; c !="ambiguious no#keyword≠node_name@child"}
// ^^^                                           meta.node.kdl entity.name.tag.node.kdl
//    ^                                          invalid.illegal.muted.position.kdl
//    ^                                         -invalid.illegal.position.kdl
//          ^^^                                  meta.node.kdl entity.name.tag.node.kdl
//             ^                                 invalid.illegal.muted.position.kdl
//             ^                                -invalid.illegal.position.kdl
//                  ^^^                          meta.node.kdl entity.name.tag.node.kdl
//                     ^                         invalid.illegal.muted.position.kdl
//                     ^                        -invalid.illegal.position.kdl
//                          ^^                   meta.node.kdl entity.name.tag.node.kdl
//                            ^                  invalid.illegal.muted.position.kdl
//                            ^                 -invalid.illegal.position.kdl
//                                 ^^^           meta.node.kdl entity.name.tag.node.kdl
//                                    ^          invalid.illegal.muted.position.kdl
//                                    ^         -invalid.illegal.position.kdl
//                                         ^^    meta.node.kdl entity.name.tag.node.kdl
//                                           ^   invalid.illegal.muted.position.kdl
//                                           ^  -invalid.illegal.position.kdl
n {true}
// ^^^                                           meta.node.kdl entity.name.tag.node.kdl
//    ^                                          invalid.illegal.muted.position.kdl
//    ^                                         -invalid.illegal.position.kdl

n !="keyword1🛑pre␠␤, to avoid flashes only before whitespace"
n true
//^^^^   meta.argument.value.kdl meta.mapping.value.kdl
//^^^    meta.string.kdl string.unquoted.kdl
//   ^   invalid.illegal.muted.position.kdl
n false
//^^^^   meta.argument.value.kdl meta.mapping.value.kdl
//^^^    meta.string.kdl string.unquoted.kdl
//    ^  invalid.illegal.muted.position.kdl
n null
//^^^^   meta.argument.value.kdl meta.mapping.value.kdl
//^^^    meta.string.kdl string.unquoted.kdl
//   ^   invalid.illegal.muted.position.kdl
n inf
//^^^   meta.argument.value.kdl meta.mapping.value.kdl
//^^    meta.string.kdl string.unquoted.kdl
//  ^   invalid.illegal.muted.position.kdl
n -inf
//^^^^   meta.argument.value.kdl meta.mapping.value.kdl
//^^^    meta.string.kdl string.unquoted.kdl
//   ^   invalid.illegal.muted.position.kdl
n nan
//^^^    meta.argument.value.kdl meta.mapping.value.kdl
//^^    meta.string.kdl string.unquoted.kdl
//  ^    invalid.illegal.muted.position.kdl
n  true   false   null   nan  -inf   inf  2 i=floating_point_keyword_identifier_strings_fail
// ^^^                                      invalid.illegal.muted.position.kdl
//        ^^^^                              invalid.illegal.muted.position.kdl
//                ^^^                       invalid.illegal.muted.position.kdl
//                       ^^                 invalid.illegal.muted.position.kdl
//                            ^^^           invalid.illegal.muted.position.kdl
//                                   ^^     invalid.illegal.muted.position.kdl
//    ^                                     invalid.illegal.position.kdl
//            ^                             invalid.illegal.position.kdl
//                   ^                      invalid.illegal.position.kdl
//                         ^                invalid.illegal.position.kdl
//                               ^          invalid.illegal.position.kdl
//                                     ^    invalid.illegal.position.kdl
node false=1 i=false_prop_key_fail
//   ^                                      invalid.illegal.position.kdl
//    ^^^^                                  invalid.illegal.muted.position.kdl
