// SYNTAX TEST "Packages/KDL/KDL2.sublime-syntax"

// 2 Node Element: 3 Property (key=value)
n a=/-2
//^                     meta.mapping.key.kdl entity.other.attribute-name.kdl
// ^                    meta.property.separator.kdl meta.mapping.separator.kdl punctuation.separator.key-value.kdl
//  ^^                  invalid.illegal.position.kdl
//    ^                 meta.property.value.kdl meta.mapping.value.kdl constant.numeric.value.kdl constant.numeric.integer.kdl

n "Values can't be repeated without a separator"
n kkk=1 k=1 kkk=0b155
//              ^^^    meta.property.value.kdl meta.mapping.value.kdl
//                 ^^ -meta.property.value.kdl meta.mapping.value.kdl
//              ^^     constant.numeric.base.kdl
//                ^    constant.numeric.value.kdl
//                 ^   invalid.illegal.position.kdl
//                  ^  invalid.illegal.muted.position.kdl
n /-k=1 k=1 /-k=0b155
//              ^^^    meta.property.value.kdl meta.mapping.value.kdl
//                 ^^ -meta.property.value.kdl meta.mapping.value.kdl
//              ^^     constant.numeric.base.kdl
//                ^    constant.numeric.value.kdl
//                 ^   invalid.illegal.position.kdl
//                  ^  invalid.illegal.muted.position.kdl
n a=x; //invalid arguments highlighted
//  ^                  invalid.illegal.position.kdl
n a=x 
//  ^                  invalid.illegal.position.kdl
/* but not before a newline when it's not clear user ended typing*/
n a=x
//  ^                 -invalid.illegal.position.kdl


nnn ppp="tttt  ✗noseparator"
nnn ppp="tttt""✗noseparator"
//      ^^^^^^                 meta.property.value.kdl meta.mapping.value.kdl
//            ^                invalid.illegal.position.kdl
//             ^^^^^^^^^^^^^   invalid.illegal.muted.position.kdl
//                          ^ -invalid.illegal
nnn ppp=(t)"t""✗noseparator"
//      ^^^^^^                 meta.property.value.kdl meta.mapping.value.kdl
//            ^                invalid.illegal.position.kdl
//             ^^^^^^^^^^^^^   invalid.illegal.muted.position.kdl
//                          ^ -invalid.illegal
nnn url=(a)"t""✗no separato
//      ^^^^^^                 meta.property.value.kdl meta.mapping.value.kdl
//            ^                invalid.illegal.position.kdl
//             ^^^             invalid.illegal.muted.position.kdl
//                ^^^^^^^^^   -invalid.illegal
//                          ^ -invalid.illegal
nnn url=(a)"t"     separato
//                ^^^^^^^^^   -invalid.illegal
/-n ppp="tttt""✗noseparator"
//      ^^^^^^                 meta.property.value.kdl meta.mapping.value.kdl
//            ^                invalid.illegal.position.kdl
//             ^^^^^^^^^^^^^   invalid.illegal.muted.position.kdl
//                          ^ -invalid.illegal
/-n ppp=(t)"t""✗noseparator"
//      ^^^^^^                 meta.property.value.kdl meta.mapping.value.kdl
//            ^                invalid.illegal.position.kdl
//             ^^^^^^^^^^^^^   invalid.illegal.muted.position.kdl
//                          ^ -invalid.illegal
/-n url=(a)"t""✗no separato
//      ^^^^^^                 meta.property.value.kdl meta.mapping.value.kdl
//            ^                invalid.illegal.position.kdl
//             ^^^             invalid.illegal.muted.position.kdl
//                ^^^^^^^^^   -invalid.illegal
/-n url=(a)"t"     separato
//                ^^^^^^^^^   -invalid.illegal
n k=1 k✗␠=  1 cc #false;
//^^^^^^^^^^^^^^^^^^^^^^      -comment.line.slash-dash.kdl
//    ^^^                      meta.property.name.kdl meta.mapping.key.kdl entity.other.attribute-name.kdl
//       ^                     meta.property.separator.kdl meta.mapping.separator.kdl punctuation.separator.key-value.kdl
//        ^                    invalid.illegal.position.kdl
//         ^                   invalid.illegal.muted.position.kdl
//          ^                  meta.property.value.kdl meta.mapping.value.kdl constant.numeric.value.kdl constant.numeric.integer.kdl
//            ^^               meta.argument.value.kdl meta.mapping.value.kdl
//            ^                invalid.illegal.muted.position.kdl
//             ^               invalid.illegal.position.kdl
//               ^^^^^^        meta.argument.value.kdl meta.mapping.value.kdl keyword.other.kdl constant.language.boolean.kdl
//                     ^       punctuation.terminator.node.kdl
