// SYNTAX TEST "Packages/KDL/KDL2.sublime-syntax"

// 3 Data: Type
nn(no_space)n
//^                                               invalid.illegal.position.kdl

n (#null)1
// ^^                                             invalid.illegal.position.kdl
//   ^^^                                          invalid.illegal.muted.position.kdl
n (#true)1
// ^^                                             invalid.illegal.position.kdl
//   ^^^                                          invalid.illegal.muted.position.kdl
n (#false)1
// ^^                                             invalid.illegal.position.kdl
//   ^^^^                                         invalid.illegal.muted.position.kdl

n ()"✗← illegal empty type"
// ^                                              invalid.illegal.muted.kdl
n ( )"✗← illegal symbol (non-identifier)"
// ^                                              invalid.illegal.position.kdl
n (a) "✗← illegal separator"
//   ^                                            invalid.illegal.position.kdl
            n "a";
yv2_<legalv2>
//^^^^^^^^^^^                 -invalid.illegal.kdl


(aaaa)n k="a"a k=1;
(a)(a)n k="a"a k=1;

n "Illegal space between a tag and its value"
   (tttt)   ##    nn k=1 "a";
//       ^                   invalid.illegal.position.kdl
//        ^^                 invalid.illegal.muted.position.kdl
//          ^^               invalid.illegal.kdl
//            ^              invalid.illegal.position.kdl
//             ^^^           invalid.illegal.muted.position.kdl
//                ^^         entity.name.tag.node.kdl
   ("tt")   ##    nn k=1 "a";
//       ^                   invalid.illegal.position.kdl
//        ^^                 invalid.illegal.muted.position.kdl
//          ^^               invalid.illegal.kdl
//            ^              invalid.illegal.position.kdl
//             ^^^           invalid.illegal.muted.position.kdl
//                ^^         entity.name.tag.node.kdl
   (ttttttt)n k=1 "a";
//         ^                 meta.annotation.kdl punctuation.separator.annotation.end.kdl
//          ^                entity.name.tag.node.kdl
   (r"tttt")n k=1 "a";
//         ^                 meta.annotation.kdl punctuation.separator.annotation.end.kdl
//          ^                entity.name.tag.node.kdl
   ("ttttt")n k=1 "a";
//         ^                 meta.annotation.kdl punctuation.separator.annotation.end.kdl
//          ^                entity.name.tag.node.kdl
   ("tt"ttt)n k=1 "a";
//         ^                 meta.annotation.kdl punctuation.separator.annotation.end.kdl
//          ^                entity.name.tag.node.kdl
//      ^^^                  invalid.illegal.position.kdl
   (r"t""t")n k=1 "a";
//         ^                 meta.annotation.kdl punctuation.separator.annotation.end.kdl
//          ^                entity.name.tag.node.kdl
//      ^                    invalid.illegal.position.kdl
//       ^^                  invalid.illegal.muted.position.kdl
