/-kdl-version 2
§ "KDL Grammar" 🔗spec=(url)"github.com/kdl-org/kdl/blob/main/SPEC.md"\
  ⦅g⦆="(group)" |=(or)"|" set="〔set-␠〕" #"set+␠"# ¬⧵“=#"〔^\"〕"#  /* \/;*=⧵⁄；∗  "=“or” newline=␤ 'empty'=∅ ignore unquoted ; " */
document⠀⠀bom?⠀⠀version?⠀⠀nodes
  bom⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝ 	 "\u{FEFF}"
  version⠀⠀⠀⠀⠀⠀≝;	 /-⠀u␠*⠀kdl-version⠀u␠+⠀⦅1|2⦆⠀u␠*⠀␤
  nodes⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀⦅line␠*⠀node_prev⦆*
                  ⠀⦅line␠*⠀node_last⦆*⠀line␠*
    node_prev⠀⠀≝⠀⠀node_base⠀node_end
    node_last⠀⠀≝⠀⠀node_base⠀node_end?
      node_base⠀≝; /-?⠀type?⠀node␠*⠀string
        ⦅node␠+; /-?⠀node_arg∨prop⠀⠀⠀⦆*     !="Slashdashed node_children must be after props and args"
        ⦅node␠+; /-⠀⠀node_children⠀⠀⠀⦆*
        ⦅node␠+⠀⠀⠀⠀⠀⠀node_children⠀⠀⠀⦆?
        ⦅node␠+; /-⠀⠀node_children⠀⠀⠀⦆*
        node␠*

§ "Entries"
node_arg∨prop⠀⠀≝⠀⠀prop|value
  prop⠀⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀string⠀node␠* "="; node␠*⠀value
  value⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀type?⠀⠀node␠*⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⦅string⠀|⠀number⠀|⠀keyword⦆
    type⠀⠀⠀⠀⠀⠀⠀≝  "(";   node␠*⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀string⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀node␠* ")"
node_children⠀⠀≝  "{";    nodes⠀node_last? "}"
node_end⠀⠀⠀⠀⠀⠀⠀≝⠀⠀comment_line⠀|⠀␤⠀|⠀；⠀|⠀eof

§ "Strings"
string⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀str🆔⠀|⠀string_quoted⠀|⠀string_raw⠀⠀¶
  str🆔⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀unambiguous🆔⠀|⠀signed🆔⠀|⠀dotted🆔
    unambiguous🆔⠀⠀⠀⠀⠀⠀⠀≝⠀⠀⠀⠀⠀⠀⦅⦅char🆔⠀-⠀〔0-9〕⠀-⠀±⠀-⠀.⦆⠀char🆔*⦆⠀-⠀keyword🆔🛑
    signed🆔⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀±⠀⠀⠀⠀⦅⦅char🆔⠀-⠀〔0-9〕⠀⠀⠀⠀⠀-⠀.⦆⠀char🆔*⦆?
    dotted🆔⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀±?⠀.⠀⦅⦅char🆔⠀-⠀〔0-9〕⠀⠀⠀⠀⠀⠀⠀⠀⦆⠀char🆔*⦆?
    char🆔⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀uchar⠀-⠀u␠⠀-⠀␤⠀-⠀char🆔¬⠀-⠀char🛑
    char🆔¬⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝  #"(;){"}[#]/=\"#
    keyword🆔🛑⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀true⠀|⠀false⠀|⠀null⠀|⠀inf⠀|⠀-inf⠀|⠀nan
  string_quoted⠀⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀⠀“⠀⠀⠀⠀string_body_line⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀”
                         |⠀“““⠀⠀␤⠀string_body☰line⠀⠀␤⠀⦅u␠|ws⎋⦆*⠀⠀”””
    string_body_line⠀⠀⠀⠀⠀≝⠀⠀⦅⠀⠀⠀⠀⠀⠀⠀⠀char_str⠀⠀⠀⠀-⠀␤⦆*
    string_body☰line⠀⠀⠀⠀⠀≝⠀⠀⦅⦅“|““⦆?⠀⠀char_str⠀⠀⠀⠀⠀⠀⦆*
    char_str⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀char⎋⠀|⠀uni⎋⠀|⠀ws⎋⠀|⠀〔¬⧵“〕⠀-⠀char🛑
      char⎋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀⧵⠀“⧵bfnrts
      uni⎋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀⧵ "u{"; hex_unicode "}"
        hex_unicode⠀⠀⠀⠀⠀⠀≝⠀⠀🔢₁₆*1–6⠀-; (surrogate)〔dD〕〔8-9a-fA-F〕🔢₁₆*2
      ws⎋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀⧵⠀⦅u␠|␤⦆+
  string_raw⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀＃⠀string_raw_quoted⠀＃
                        ⠀⠀|⠀⠀＃⠀⠀⠀⠀⠀⠀⠀⠀🗘⠀⠀⠀⠀⠀⠀⠀⠀＃
    string_raw_quoted⠀⠀⠀⠀⠀≝⠀⠀“⠀⠀⠀⠀⠀string_raw_body_line⠀⠀⠀⠀⠀⠀⠀⠀⠀”
                           |⠀⠀“““⠀␤⠀string_raw_body☰line⠀␤⠀u␠*⠀”””
      string_raw_body_line⠀≝⠀⠀∅
                           |⠀⠀⠀⠀⠀⠀⦅char_raw⠀-⠀”⦆⠀char_raw*?
                           |⠀“⠀⠀⠀⠀⦅char_raw⠀-⠀”⦆⠀char_raw*?
        char_raw⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀⠀uchar⠀-⠀␤⠀-⠀char🛑
      string_raw_body☰line⠀≝⠀⠀⦅uchar⠀⠀⠀⠀⠀-⠀char🛑⦆*?

§ "Numbers (space in 〔〕 is ignored)"
number⠀⠀⠀⠀⠀⠀⠀≝⠀⠀keyword_number⠀|⠀hex⠀|⠀octal⠀|⠀binary⠀|⠀decimal
  hex⠀⠀⠀⠀⠀⠀⠀⠀≝;       ±?⠀0x⠀🔢₁₆⠀⦅_⠀|⠀🔢₁₆⦆*
  octal⠀⠀⠀⠀⠀⠀≝;       ±?⠀0o⠀〔0-7〕⠀⠀⠀⠀⠀〔0-7_〕*
  binary⠀⠀⠀⠀⠀≝;       ±?⠀0b⠀〔0⠀1〕⠀⠀⠀⠀⠀〔0⠀1_〕*
  decimal⠀⠀⠀⠀≝⠀⠀⠀⠀⠀⠀⠀⠀±?⠀integer⠀⦅.⠀integer⦆?⠀ℯ?
    integer⠀⠀≝⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀〔0-9〕⠀⠀⠀⠀⠀〔0-9_〕*
    ℯ⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀〔eE〕⠀±?⠀integer

  ±⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀⠀⠀⠀⠀〔+-〕
  🔢₁₆⠀⠀⠀⠀⠀⠀⠀≝⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀〔0-9a-fA-F〕
  🔢₁₀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀〔0-9⠀〕
  🔢₁₀_⠀⠀⠀⠀⠀⠀≝⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀〔0-9_〕

§ "Keywords and booleans"
keyword⠀⠀⠀⠀⠀⠀⠀⠀≝⠀boolean⠀|⠀＃null
keyword_number⠀≝⠀⠀＃inf⠀⠀⠀|⠀＃-inf⠀|⠀＃nan
boolean⠀⠀⠀⠀⠀⠀⠀⠀≝⠀＃true⠀⠀⠀|⠀＃false

§ "Specific code points (\u{0} unicode format is implied in 〔A–F〕 and ommited for brevity)"
bom⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝  "\u{FEFF}"
char🛑⠀⠀⠀⠀⠀⠀⠀⠀≝  (¬1st)"bom"; (c0a)〔u0–u8〕; (c0b)〔E–1F〕; (cdel)〔7F〕; (c_dir)〔200E–200F⠀202A–202E⠀2066–2069〕; usc¬ (🔗spec)"disallowed-literal-code-points"
  usc¬⠀⠀⠀⠀⠀⠀⠀⠀≝; (surr_high)〔D800–DBFF〕; (surr_low)〔DC00–DFFF〕 !="valid c0: 〔u9–uD〕 9␉\t A␊\n B␋\v C␌\f D␍\r"
uchar⠀⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀〔0–D7FF⠀E000–10FFFF〕         !="Any Unicode Scalar Value (no surrogates)"
u␠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀〔9⠀20⠀A0⠀1680⠀2000⠀2001⠀2002⠀2003⠀2004⠀2005⠀2006⠀2007⠀2008⠀2009⠀200A⠀202F⠀205F⠀3000〕  !="Non line-breaking unicode White_Space" (🔗spec)"whitespace"\
                  "⭾                                                                                  　  "

§ "Comments (// /* */ after ≝ serve as definition symbols)"
comment_line⠀⠀⠀⠀⠀⠀≝   // ¬␤* ⦅␤ | eof⦆
comment_block⠀⠀⠀⠀⠀≝;  /* commented_block
  commented_block⠀≝   */
                  |⠀⦅comment_block⠀|⠀*⠀|⠀⁄⠀|⠀〔¬*⁄〕+⦆⠀⠀🗘
/-⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝;  /-⠀line␠*

§ "Whitespace (\u{0} unicode format is implied in 〔A–F〕 and ommited for brevity)"
line␠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀node␠⠀|⠀␤⠀|⠀comment_line  !="Whitespace               where newlines are allowed"
  node␠⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀⠀ws*⠀escline⠀ws*⠀|⠀ws+    !="Whitespace within nodes, where newline-ish things must be esclined"
    ws⠀⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀⠀⠀u␠⠀|⠀comment_block
    escline⠀⠀⠀⠀≝⠀⠀⧵⠀ws*⠀⠀⦅comment_line⠀|⠀␤⠀|⠀eof⦆
  ␤⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝;  (u)D+A⠀|⠀〔A⠀B⠀C⠀D⠀85⠀2028⠀2029〕  !="(85NEL LS PS) Line-breaking unicode White_Space" (🔗spec)"newline"

§ "Grammar language: a combination of ABNF with some regex spice thrown in" {
  - "Some symbols are represented with unicode alternatives to avoid the need to quote"
    /* \⧵  /⁄  ;；  *∗  "“ or "”   {⎨ }⎬   #＃ newline=␤   'empty'=∅ */
  - #";"\"#="serve as regular KDL syntax, not part of definition (special unicode symbols do that)"\
    #"≝;"#="semicolon is used just to make the following definition a valid syntax:  version⠀≝;	/-⠀u␠*  "\
    keys=(and_types)"are used for extra group info"
  - !="tip/comment"
  - §="section marker"
  - #"""#="Double quotes are used to denote literal text"
  - #"\"#="within a literal string is used for escaping: \" or \\, and initiating uchar chars in hex \u{FEFF}"
  - 🗘=#"self-referential sign, e.g., the following are the same
    raw-s ≝ # raw-s-quote # | # raw-s #
    raw-s ≝ # raw-s-quote # | # 🗘    #  "#
  Regex                                                           	\
    *="zero or more (greedy, match as many instances as possible)"	\
    *1–6="inclusive range: at least 1 at most 6"                  	\
    +="one  or more (greedy)"                                     	\
    ?="zero or one"                                               	\
    *?="zero or more (non-greedy, match as few instances as possible; used only in raw strings)"\
    ¬="or ^: not this"            	\
    "0-9"="char range (inclusive)"	\
    ¬⧵“="[^\\\"]" "〔set-␠〕"="[a b]" #"set+␠"#="[ab]" ≝="Used as regex-style char set matches like [], where any char will be a single match (no escapes needed due to special enclosing syntax)"\
    "〔set-␠〕 can contain whitespace for alignment which is ignored for matching"
    ⦅group⦆ "used to group matches that must be matched together"
    a|b "means `a or b`, whichever matches first. Multiple items before `|` are a single group" "a b c | d"="(a b c) | d"
  - -="used for 'except for' or 'minus' whatever follows it" "uchar⠀-⠀␤"="anything matching the 'uchar' rule (unicode chars) except for something that matches '␤' rule (newline whitespace)"
  prefix ^=(or)"¬" "'does not match' whatever follows it:" ^foo="must not match 'foo'"
  - ¶="cut point: always matches and consumes no characters, but once matched, the parser is not allowed to backtrack past that point in the source. If a parser would rewind past the cut point, it must instead fail the overall parse, as if it had run out of options (only for 'rastring_raw' to ensure the 1st instance of the appropriate closing quote sequence ends it)"
  - "A single definition may be split over multiple lines. Newlines are treated as spaces"
}
