/-kdl-version 2
§ "KDL Grammar in a 'parser'-friendlier format" !="See symbol defs in the original grammar"
        uchar₁₆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀≝⠀⠀🔢₁₆*1–6⠀⠀-⠀⠀codepoint₁₆¬⠀⠀-⠀⠀surrogate₁₆  !="alt repr"
        codepoint₁₆¬⠀⠀⠀⠀⠀≝⠀⠀🔢₁₆*7⠀|⠀〔2–9a–fA–F〕🔢₁₆*5⠀|⠀〔1〕〔1–9a–fA–F〕🔢₁₆*4
        surrogate₁₆⠀⠀⠀⠀⠀⠀≝⠀⠀〔0〕?〔0〕?〔dD〕〔8–9a–fA–F〕🔢₁₆*2
